<div class="row">
  <div class="col-xs-1">
    <a
      href="https://www.linkedin.com/in/william-trevor-oliver-b6933a108"
      target="_blank"
    >
      <img
        class="social"
        src="./../../assets/In-White-75px-TM.png"
        alt="LinkedIn"
      >
    </a>
  </div>
  <div class="col-xs-1">
    <a
      href="https://github.com/WilliamTOliver"
      target="_blank"
    >
      <img
        class="social"
        src="./../../assets/GitHub-Mark-Light-120px-plus.png"
        alt="GitHub"
      >
    </a>
  </div>
  <p class="col-xs-4">William T Oliver</p>
</div>
