.playlist-manager {
  margin-top: 3rem;
  width: 100%;
}
.tracks {
  padding: 0;
  margin-left: 2rem;
}
.tracks-table {
  margin-bottom: .5rem;
}
.playlists {
  padding: 0;
}
.tracks {
  padding: 0;
}
.no-playlists-selected {
  position: absolute;
  top: 10rem;
  left: 5rem;
}
