<div class="playlist-manager">
  <div class="row">
    <div class="col-4 playlists"><app-search-table></app-search-table></div>
    <div class="col-7 tracks">
      <div *ngIf="selectedPlaylistsWithTracks.length > 0" class="filter-input">
        <mat-form-field>
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Filter Selected Playlists"
          />
        </mat-form-field>
        <button *ngIf="selectedPlaylistsWithTracks.length > 0" mat-icon-button (click)="createPlaylist()">
          <mat-icon>
            playlist_add
          </mat-icon>
        </button>
      </div>
      <div *ngFor="let playlist of selectedPlaylistsWithTracks">
        <div class="tracks-table">
          <app-track-table type="playlist" [data]="playlist"></app-track-table>
        </div>
      </div>
      <div class="no-playlists-selected" *ngIf="selectedPlaylistsWithTracks.length <= 0">
        <p>
          Please Select the Playlist(s) You Want to Refactor
        </p>
      </div>
    </div>
  </div>
</div>
