<mat-card>
  <form (ngSubmit)="submitLogin($event)" class="login-form">
    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
        >
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          [formControl]="passwordFormControl"
          type="password"
        >
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-error *ngIf="invalidLogin">
      Invalid credentials
    </mat-error>
    <button class="login-submit" mat-raised-button type="submit" [disabled]="emailFormControl.invalid || passwordFormControl.invalid">
      <span *ngIf="loggingIn" >
        <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
      </span>
      <span *ngIf="!loggingIn" >
          Submit
      </span>
    </button>
  </form>
</mat-card>
