.container {
    padding: 0 2rem;
}
app-header {
    top: 0;
}
app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
td.mat-cell {
    padding-right: 1rem;
}
.filter-input {
    height: 65px;
}