mat-card {
  background-color: #606060;
}

img {
  max-width: 6rem;
}

.hide {
  display: none;
}

button {
  font-size: .75rem;
}
.delete {
    color: red;
}
.track-table-group {
  min-width: 5rem;
}
.playlist-name {
  text-shadow: 2px 2px 8px #202020;
}