.dashboard {
  margin-top: 3rem;
  width: 100%;
}
.reports {
  background-image: url('./../../assets/chart.png');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 7rem;
  // filter: invert(100%);
}
.users {
  background-image: url('./../../assets/users.png');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 10rem;
  // filter: invert(100%);
}
.settings {
  background-image: url('./../../assets/settings.png');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 6rem;
  // filter: invert(100%);
}
.playlist-table {
  background-image: url('./../../assets/import.png');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 5rem;
  // filter: invert(100%);
}
.create-playlist {
  background-image: url('./../../assets/create-playlist.png');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 8rem;
  // filter: invert(100%);
}
.dashboard-ctas {
  button {
    width: 100%;
  }
}
button {
  margin: 1rem;
  text-align: left;
  background-color: black;
  img {
    max-width: 10rem;
    padding: 1rem;
  }
  p {
    padding: 1rem;
    font-size: 2rem;
    display: inline-block;
  }
}