button.spotify-login {
  margin: 1rem;
  text-align: left;
  background-color: black;
  img {
    max-width: 3rem;
    padding: .5rem;
  }
  p {
    margin: 0 auto;
    font-size: 1rem;
    display: inline-block;
  }
}

