.dashboard {
  margin-top: 3rem;
  width: 100%;
}
button.spotify-login {
  margin: 1rem;
  text-align: left;
  background-color: black;
  img {
    max-width: 3rem;
    padding: .5rem;
  }
  p {
    margin: 0 auto;
    font-size: 1rem;
    display: inline-block;
  }
}
.tracks {
  padding: 0;
  margin-left: 2rem;
}
.tracks-table {
  margin-bottom: .5rem;
}
.playlists {
  padding: 0;
}
.tracks {
  padding: 0;
}
.no-playlists-selected {
  position: absolute;
  top: 10rem;
  left: 5rem;
}
