<div class="dashboard">
  <h1> Playlist Manager </h1>
  <div class="row" *ngIf="spotifyAuthorized">
    <div class="col-xs-10 col-sm-6">
      <a (click)="navigate('reports')">
        <button
          mat-raised-button
          class="reports"
        >
          <p><strong>Reports</strong></p>
        </button>
      </a>
      <a (click)="navigate('users')">
        <button
          mat-raised-button
          class="users"
        >
          <p><strong>Users</strong></p>
        </button>
      </a>
      <a (click)="navigate('settings')">
        <button
          mat-raised-button
          class="settings"
        >
          <p><strong>Settings</strong></p>
        </button>
      </a>
    </div>
    <div class="col-xs-10 col-sm-6">
      <a (click)="navigate('import-playlist')">
        <button
          mat-raised-button
          class="import-playlist"
        >
          <p><strong>Import</strong></p>
        </button>
      </a>
      <a (click)="navigate('create-playlist')">
        <button
          mat-raised-button
          class="create-playlist"
        >
          <p><strong>Generate</strong></p>
        </button>
      </a>
    </div>
  </div>
  <div *ngIf="!spotifyAuthorized">
    <button mat-raised-button (click)="spotifyLogin()"> Log In </button>
  </div>
</div>
